# Python artifacts
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/

# Sphinx build artifacts
/docs/build/
/docs/_build/

# Tool caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/

# IDE settings
.idea/
.vscode/

# Ignore binary assets
papers/
paper/figures/
